.gallery-wrapper {
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  .single-more-news {
    .category-name {
      position: absolute;
      top: 0;
      left: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 13px;
      font-weight: 700;
      text-transform: capitalize;
      padding: 5px 15px;
      color: #fff;
      background-color: $mc;
      z-index: 3;
      transition: 0.5s ease;
      &:hover {
        left: 10px;
      }
    }
    .img-wrapper {
      img {
        width: 100%;
      }
    }
  }
}

.gallery-items-wrapper {
  .wrap-container {
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
    .single-default-news {
      max-height: 250px;
      max-width: 250px;
      .img-wrapper {
        height: 100%;
        overflow: hidden;
        img {
          transition: 1s ease;
        }
      }
      &:hover {
        .img-wrapper {
          img {
            transform: scale(1.5);
          }
        }
      }
    }
  }
}

.video-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
}

.sidebar-video-gallery {
  .single-default-news {
    margin-bottom: 25px;
  }
}
