.search-input {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: 5px;
  form {
    position: absolute;
    top: 25px;
    right: 0;
    transition: 0.3s ease;
    opacity: 0;
    z-index: 5;
    pointer-events: none;
  }
  &.active {
    form {
      opacity: 1;
      pointer-events: initial;
    }
  }
}

.searchbar-toggler {
  position: static;
  i {
    color: white;
  }
}
.recep-btn {
  background: $sc;
  height: 30px;
  line-height: 30px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  color: #000;
  display: inline-flex;
  padding: 0 15px;
  align-items: center;
  transition: all 0.3s;
}
.recep-btn img {
  margin-right: 6px;
}
