.news-page-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.news-details {
  margin-right: 20px;
  width: 65%;
  border: 1px solid #dedede;
  margin-bottom: 50px;
}

.news-sidebar {
  padding: 0 15px;
  width: 35%;
}
