.more-news-inner {
  background-color: $mc;
  margin-bottom: 100px;
  .section-title {
    color: #fff;
  }
  padding: 20px;
  .more-news-slider {
    margin-bottom: -50px;
  }
}

.single-more-news {
  position: relative;
  overflow: hidden;
  &::before {
    opacity: 1;
    background-image: linear-gradient(transparent, #111),
      linear-gradient(transparent, #111);
    content: "";
    height: 70%;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
  }
  img {
    width: 333px;
    height: 222px;
    transition: all 1.5s ease-out;
  }
  .news-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 15px;
    z-index: 2;
  }
  .news-content {
    h3 {
      font-size: 16px;
      line-height: 1.3;
      margin-bottom: 0;
      margin-top: 10px;
      a {
        color: #ffffff;
      }
    }
    ul {
      padding: 0;
      list-style-type: none;
      margin: 0;
      li {
        display: inline-block;
        margin-right: 15px;
        color: #ffffff;
        font-weight: 500;
        font-size: 12px;
        &:last-child {
          margin-right: 0;
        }
        i {
          margin-right: 3px;
          color: #fff;
        }
        a {
          display: inline-block;
          color: #ffffff;
          &:hover,
          &:focus {
            color: $mc;
          }
        }
      }
    }
  }
}

.single-more-news
  .news-content
  .single-more-news
  .news-content
  h3
  .single-more-news
  .tags {
  top: 0;
  left: 25px;
  position: absolute;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-more-news .tags a {
  display: inline-block;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  text-transform: capitalize;
  padding: 5px 15px;
  background-color: $mc;
}

.single-more-news:hover .tags,
.single-more-news:focus .tags {
  left: 15px;
}

.single-more-news:hover img,
.single-more-news:focus img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.video-news-area {
  padding: 35px 0;
  background-color: #1f1f1f;
  .section-title {
    color: #fff;
  }
}

.single-default-news {
  &::before {
    opacity: 0.7;
    background-image: linear-gradient(transparent, #111),
      linear-gradient(transparent, #111);
    content: "";
    height: 70%;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
  }
  position: relative;
  .img-wrapper {
    width: 100%;
    height: 260px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .news-content {
    width: unset;
    bottom: 0;
    left: 0;
    padding: 15px;
    z-index: 2;
    position: absolute;
    h3 {
      display: block;
    }
    a {
      font-size: 18px;
      line-height: 1.4;
      color: #fff;
    }
  }
  .video-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50%;
    z-index: 3;
    a {
      color: #000;
    }
  }
}

.video-btn {
  transition: 0.3s ease;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    i {
      transition: 0.3s ease;
    }
  }
  &:hover {
    background-color: $mc;
    i {
      color: white;
    }
  }
}

.show-more-link-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  width: 100%;
  a {
    padding: 15px 30px;
    border-radius: 5px;
    background-color: $mc;
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
  }
}
