@import "fonts";
@import "vars";
@import "./../../node_modules/font-awesome/scss/font-awesome.scss";
@import "./../../node_modules/swiper/swiper.scss";
@import "./../../node_modules/magnific-popup/dist/magnific-popup.css";
@import "./blocks/normalize";
@import "./blocks/basics";
@import "./blocks/old";
@import "./blocks/slider";
@import "./blocks/gallery";
